[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
signer-check-safe = "2oWTK571xRLKak5KKuQ9J3K7TAvngBk6X4d8nQCAnaaT"
signer-check-unsafe = "6hf6R2iny7xtPiiz1Gi8bE7nMzwHiaYtsCFcJ3PDowJe"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
