[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
data-matching-safe = "8x6SCMgzVyr3rsVKhT5pgjCo36sxQMZRfmhPqR2K6b8x"
data-matching-unsafe = "HQ4ke3cnR6tXgtJYTmWAKp82Ju3odXZwLCMT18Po773e"
data_matching = "BA1oUXUQ9A3juSUsU1J8PeGfN9tmtv87fEoNP3e6Q3i8"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
